alwaysAddClaimsToToken=false
clientsCanSkipConsent=true
completionUrl=
customLoginUrlTemplate=
deviceCodeLifetime=300
devicePollInterval=5
displayNameAttribute=cn
forgerock-oauth2-provider-access-token-lifetime=6000000
forgerock-oauth2-provider-allow-open-dynamic-registration=false
forgerock-oauth2-provider-amr-mappings=
forgerock-oauth2-provider-authentication-attributes=uid
forgerock-oauth2-provider-authorization-code-lifetime=600
forgerock-oauth2-provider-claims-parameter-supported=false
forgerock-oauth2-provider-code-verifier-enforced=false
forgerock-oauth2-provider-created-attribute-name=
forgerock-oauth2-provider-default-acr=
forgerock-oauth2-provider-default-scopes=openid
forgerock-oauth2-provider-default-scopes=uma_authorization
forgerock-oauth2-provider-default-scopes=uma_protection
forgerock-oauth2-provider-generate-registration-access-tokens=true
forgerock-oauth2-provider-hash-salt=notused
forgerock-oauth2-provider-id-token-signing-algorithms-supported=ES384
forgerock-oauth2-provider-id-token-signing-algorithms-supported=HS256
forgerock-oauth2-provider-id-token-signing-algorithms-supported=HS512
forgerock-oauth2-provider-id-token-signing-algorithms-supported=ES256
forgerock-oauth2-provider-id-token-signing-algorithms-supported=RS256
forgerock-oauth2-provider-id-token-signing-algorithms-supported=HS384
forgerock-oauth2-provider-id-token-signing-algorithms-supported=ES512
forgerock-oauth2-provider-issue-refresh-token=false
forgerock-oauth2-provider-issue-refresh-token-on-refreshing-token=false
forgerock-oauth2-provider-jkws-uri=
forgerock-oauth2-provider-jwt-token-lifetime=6000000
forgerock-oauth2-provider-keypair-name=signing
forgerock-oauth2-provider-loa-mapping=
forgerock-oauth2-provider-modified-attribute-name=
forgerock-oauth2-provider-refresh-token-lifetime=6000000
forgerock-oauth2-provider-response-type-map-class=id_token|org.forgerock.openidconnect.IdTokenResponseTypeHandler
forgerock-oauth2-provider-response-type-map-class=code|org.forgerock.oauth2.core.AuthorizationCodeResponseTypeHandler
forgerock-oauth2-provider-response-type-map-class=token|org.forgerock.oauth2.core.TokenResponseTypeHandler
forgerock-oauth2-provider-saved-consent-attribute=
forgerock-oauth2-provider-scope-implementation-class=org.forgerock.openam.oauth2.OpenAMScopeValidator
forgerock-oauth2-provider-subject-types-supported=public
forgerock-oauth2-provider-supported-scopes=openid|
forgerock-oauth2-provider-supported-scopes=uma_authorization|Provide access to data shared with you
forgerock-oauth2-provider-supported-scopes=uma_protection|Control access to your data
forgerock-oauth2-provider-supported-claims=phone_number|Phone number
forgerock-oauth2-provider-supported-claims=family_name|Family name
forgerock-oauth2-provider-supported-claims=given_name|Given name
forgerock-oauth2-provider-supported-claims=email|Email address
MapValueValidator=com.sun.identity.common.configuration.MapValueValidator
verificationUrl=
