uma-supported-pat-profiles=bearer
uma-rpt-lifetime=3600
uma-permission-ticket-lifetime=60
uma-delete-resource-sets-on-resource-server-deletion=true
requireTrustElevation=false
uma-supported-aat-profiles=bearer
uma-delete-policies-on-resource-server-deletion=true
uma-supported-claim-token-profiles=
uma-supported-uma-profiles=
uma-supported-rpt-profiles=bearer

