selfServiceEncryptionKeyPairAlias=selfserviceenctest
selfServiceSigningSecretKeyAlias=selfservicesigntest
selfServiceUserRegistrationEnabled=true
selfServiceUserRegistrationEmailVerificationEnabled=false
